p{
  text-align:center;
}
body{
  background:linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  text-align:center;
  
}

.menu{
    list-style: none;
    font-family: cursive;
    float: right;
    top: 10px;
    cursor: pointer;
    right: 30px;
    color: black;
}

.links:hover{
background-color: lightcoral;
}